*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: violet!important;
    display: grid;
    place-items: center;
}
.box{
    width: 600px;
    height:300px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 5px 5px 20px 0;
    display: grid;
    place-items: center;
    

}
textarea{
    width: 500px;
    height:200px ;
    outline: none;
    border-radius: 8px;
    border:grey 2px solid;
    font-size: 25px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    color: grey;
    font-weight: 600;
}